@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


html, body{
    margin: 0;
    padding: 0;
}

body{
    background: -webkit-linear-gradient(-135deg, #9DCB9F, #CAD96E);
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container-menu{
    width: 100%;
    max-width: 2500px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
}

.container-menu .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container-menu .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-menu .card img{
    width: 330px;
    height: 220px;
}


.container-menu .card h4{
    font-weight: 600;
}

.container-menu .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container-menu .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
#header {
    margin:auto;
    width:1000px;
    width:600px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color: #CAD96E;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}